.dropbtn {
    background-color: #4dc5da;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.bouton {
    background-color: white;
    color: black;
    padding: 20px 60px;
    text-decoration: black;
    display: grid;
    font-size: medium;
    font: caption;
}

.bouton:hover {background-color: #ffdf2b}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #4dc5da;
}
.dropbtn:hover{

}
.ligne1{
    background-color: #4dc5da;
}
.box_re{
    height: 30px;
}
.btn_re:hover{
    z-index: 2;
    transform: scale(2.0);
}
.logo{
    background-color: white;
}
.logo:hover{
    z-index: 2;
    transform: scale(1.2);
}
.rechercher:hover{
    z-index: 2;
    transform: scale(1.1);
}
.panier:hover{
    z-index: 2;
    transform: scale(1.4);
}
table, th, td {
    border-collapse: collapse;
}